.DS_Store
.AppleDouble
.LSOverride

build/
.derivedData*/
DerivedData/
outputs/
artifacts/
screenshots/

*.ipa
*.xcarchive
*.xcresult
*.dSYM
*.dSYM.zip
*.mobileprovision

xcuserdata/
*.xcuserstate
TiebaPure [0-9]*.xcodeproj/

.env
.env.*
account.json
*.pem
*.p12
*.p8
*.key
